* Indicador: Prevalence of raised blood glucose/diabetes in adults (%)
* ID para extracción: 36
* Fuente : https://opendata.paho.org/es/indicadores-basicos/tablero-de-los-indicadores-basicos
* URL API: https://ghoapi.azureedge.net/api

In [1]:
import pandas as pd
import numpy as np

In [3]:
# Fuente externa - World Health Organization
df_glucosa= pd.read_excel("../glucose.xlsx")
df_glucosa.head()

,paho_indicator_id,SpatialDimType,SpatialDim,SpatialDim_en,SpatialDim_es,TimeDimType,TimeDim,Prevalence of raised blood glucose/diabetes in adults (%),data_source_specific,data_provider_specific,data_secondary_source,source_url
0,36,COUNTRY,ATG,Antigua and Barbuda,Antigua y Barbuda,YEAR,1995,6.8,The Global Health Observatory,World Health Organization,PAHO Core Indicators,https://ghoapi.azureedge.net/api
1,36,COUNTRY,ARG,Argentina,Argentina,YEAR,1995,7.8,The Global Health Observatory,World Health Organization,PAHO Core Indicators,https://ghoapi.azureedge.net/api
2,36,COUNTRY,BHS,Bahamas,Bahamas,YEAR,1995,9.5,The Global Health Observatory,World Health Organization,PAHO Core Indicators,https://ghoapi.azureedge.net/api
3,36,COUNTRY,BRB,Barbados,Barbados,YEAR,1995,8.1,The Global Health Observatory,World Health Organization,PAHO Core Indicators,https://ghoapi.azureedge.net/api
4,36,COUNTRY,BLZ,Belize,Belice,YEAR,1995,8.5,The Global Health Observatory,World Health Organization,PAHO Core Indicators,https://ghoapi.azureedge.net/api

In [4]:
df_glucosa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   paho_indicator_id                                          700 non-null    int64
 1   SpatialDimType                                             700 non-null    object
 2   SpatialDim                                                 700 non-null    object
 3   SpatialDim_en                                              700 non-null    object
 4   SpatialDim_es                                              700 non-null    object
 5   TimeDimType                                                700 non-null    object
 6   TimeDim                                                    700 non-null    int64
 7   Prevalence of raised blood glucose/diabetes in adults (%)  700 non-null    float64
 8   data_source_specific                                       700 non-null    object
 9   data_provider_specific                                     700 non-null    object
 10  data_secondary_source                                      700 non-null    object
 11  source_url                                                 700 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 65.8+ KB

In [5]:
df_glucosa.describe()

,paho_indicator_id,TimeDim,Prevalence of raised blood glucose/diabetes in adults (%)
count,700.0,700.000000,700.000000
mean,36.0,2004.500000,8.461714
std,0.0,5.770404,1.738076
min,36.0,1995.000000,4.800000
25%,36.0,1999.750000,7.200000
50%,36.0,2004.500000,8.300000
75%,36.0,2009.250000,9.500000
max,36.0,2014.000000,14.500000

In [6]:
# Procedo a dejar las columnas necesarias para hacer merge con el dataset de WB.
df_glucosa = df_glucosa.drop("paho_indicator_id", axis=1) 
df_glucosa = df_glucosa.drop("SpatialDimType", axis=1) 
df_glucosa = df_glucosa.drop("SpatialDim_en", axis=1) 
df_glucosa = df_glucosa.drop("SpatialDim", axis=1)
df_glucosa = df_glucosa.drop("TimeDimType", axis=1) 
df_glucosa = df_glucosa.drop("data_source_specific", axis=1) 
df_glucosa = df_glucosa.drop("data_provider_specific", axis=1) 
df_glucosa = df_glucosa.drop("data_secondary_source", axis=1) 
df_glucosa = df_glucosa.drop("source_url", axis=1) 
df_glucosa.head()

,SpatialDim_es,TimeDim,Prevalence of raised blood glucose/diabetes in adults (%)
0,Antigua y Barbuda,1995,6.8
1,Argentina,1995,7.8
2,Bahamas,1995,9.5
3,Barbados,1995,8.1
4,Belice,1995,8.5

In [7]:
# Cambio nombres de algunas columnas en el df, para que coincida con el df de WB.
df_glucosa.rename(columns={"SpatialDim_es": "Country"}, inplace=True)
df_glucosa.rename(columns={"TimeDim": "Year"}, inplace=True)
df_glucosa.head()

,Country,Year,Prevalence of raised blood glucose/diabetes in adults (%)
0,Antigua y Barbuda,1995,6.8
1,Argentina,1995,7.8
2,Bahamas,1995,9.5
3,Barbados,1995,8.1
4,Belice,1995,8.5

In [8]:
df_glucosa['Year'].unique()

array([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014], dtype=int64)

In [9]:
df_glucosa['Country'].unique()

array(['Antigua y Barbuda', 'Argentina', 'Bahamas', 'Barbados', 'Belice',
       'Bolivia (Estado Plurinacional de)', 'Brasil', 'Canadá', 'Chile',
       'Colombia', 'Costa Rica', 'Cuba', 'Dominica',
       'República Dominicana', 'Ecuador', 'El Salvador', 'Granada',
       'Guatemala', 'Guyana', 'Haití', 'Honduras', 'Jamaica', 'México',
       'Nicaragua', 'Panamá', 'Paraguay', 'Perú', 'Saint Kitts y Nevis',
       'Santa Lucía', 'San Vicente y las Granadinas', 'Suriname',
       'Trinidad y Tabago', 'Estados Unidos de América', 'Uruguay',
       'Venezuela (República Bolivariana de)'], dtype=object)

In [9]:
df_glucosa.to_csv("glucosa.csv", index=False)