In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_database_WorldBank_OMS = pd.read_csv('datasets_limpios/df_dababase_WorlBank_OMS.csv')
df_database_externa = pd.read_csv('datasets_limpios/df_database_externa.csv')

In [3]:
df_database_WorldBank_OMS

,País,Año,"Birth rate, crude (per 1,000 people)",CO2 emissions (kg per PPP $ of GDP),Capital health expenditure (% of GDP),"Compulsory education, duration (years)",Control of Corruption: Estimate,"Current health expenditure per capita, PPP (current international $)","Death rate, crude (per 1,000 people)",Domestic general government health expenditure (% of GDP),...,"Population, total",Poverty gap at $6.85 a day (2017 PPP) (%),Pregnant women receiving prenatal care (%),Prevalence of overweight (% of adults),"Prevalence of overweight, weight for height (% of children under 5)",Prevalence of undernourishment (% of population),Rural population (% of total population),"Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population,Urban population (% of total population)
0,Argentina,1990,21.989,0.427859,NaN,NaN,NaN,NaN,7.743,NaN,...,32637657.0,NaN,NaN,48.7,NaN,NaN,13.016,NaN,28389540.0,86.984
1,Argentina,1991,21.844,0.400371,NaN,NaN,NaN,NaN,7.536,NaN,...,33105763.0,4.5,NaN,49.3,NaN,NaN,12.672,5.440,28910601.0,87.328
2,Argentina,1992,21.683,0.369563,NaN,NaN,NaN,NaN,7.595,NaN,...,33568285.0,5.0,NaN,49.9,NaN,NaN,12.458,6.360,29386348.0,87.542
3,Argentina,1993,21.570,0.340845,NaN,NaN,NaN,NaN,7.631,NaN,...,34027240.0,5.5,95.0,50.5,NaN,NaN,12.248,10.100,29859584.0,87.752
4,Argentina,1994,21.419,0.320044,NaN,NaN,NaN,NaN,7.403,NaN,...,34488696.0,5.7,NaN,51.1,11.1,NaN,12.040,11.760,30336257.0,87.960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,"Venezuela, RB",2018,17.832,NaN,NaN,17.0,-1.512038,638.613417,6.864,1.245631,...,29825653.0,NaN,NaN,NaN,NaN,22.7,11.792,5.020,26308612.0,88.208
755,"Venezuela, RB",2019,16.888,NaN,NaN,17.0,-1.527599,469.134286,7.017,0.811753,...,28971683.0,NaN,NaN,NaN,NaN,24.9,11.760,5.092,25564613.0,88.240
756,"Venezuela, RB",2020,16.213,NaN,NaN,17.0,-1.576018,590.119233,7.575,1.676635,...,28490453.0,NaN,NaN,NaN,NaN,22.9,11.721,7.530,25151087.0,88.279
757,"Venezuela, RB",2021,15.877,NaN,NaN,17.0,-1.622492,NaN,8.124,NaN,...,28199867.0,NaN,NaN,NaN,NaN,NaN,11.675,6.471,24907533.0,88.325
758,"Venezuela, RB",2022,NaN,NaN,NaN,NaN,-1.651137,NaN,NaN,NaN,...,28301696.0,NaN,NaN,NaN,NaN,NaN,11.622,5.328,25012473.0,88.378

In [15]:
df_database_externa

,País,Año,Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes),Prevalence of raised blood glucose/diabetes in adults (%),Proportion of adults who are obese
0,Argentina,1990,7055.0,NaN,NaN
1,Argentina,1991,18537.0,NaN,NaN
2,Argentina,1993,21534.0,NaN,NaN
3,Argentina,1992,21688.0,NaN,NaN
4,Argentina,1994,25661.0,NaN,NaN
...,...,...,...,...,...
3085,Uruguay,2012,NaN,NaN,23.1
3086,Uruguay,2013,NaN,NaN,23.6
3087,Uruguay,2014,NaN,NaN,24.2
3088,Uruguay,2015,NaN,NaN,24.8
3089,Uruguay,2016,NaN,NaN,25.3

In [22]:
# Supongamos que tienes tu DataFrame llamado df
# Y solo deseas mantener la columna "Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes)"
columna_deseada = 'Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes)'

# Eliminar filas con NaN o nulos en la columna deseada
df_gasto_publico = df_database_externa.dropna(subset=[columna_deseada])

columnas_a_eliminar = ['Prevalence of raised blood glucose/diabetes in adults (%)', 'Proportion of adults who are obese']

# Utiliza el método .drop() para eliminar las columnas
df_gasto_publico = df_gasto_publico.drop(columnas_a_eliminar, axis=1)
# El DataFrame ahora solo contiene filas sin NaN o nulos en la columna deseada
df_gasto_publico

,País,Año,Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes)
0,Argentina,1990,7055.0
1,Argentina,1991,18537.0
2,Argentina,1993,21534.0
3,Argentina,1992,21688.0
4,Argentina,1994,25661.0
...,...,...,...
603,Venezuela (República Bolivariana de),2010,118241241.0
604,Venezuela (República Bolivariana de),2011,182478254.0
605,Venezuela (República Bolivariana de),2012,235841376.0
606,Venezuela (República Bolivariana de),2013,360516721.0
607,Venezuela (República Bolivariana de),2014,568759347.0

In [24]:
df_merged = df_database_WorldBank_OMS.merge(df_gasto_publico, on=['País', 'Año'], how='left')
df_merged

,País,Año,"Birth rate, crude (per 1,000 people)",CO2 emissions (kg per PPP $ of GDP),Capital health expenditure (% of GDP),"Compulsory education, duration (years)",Control of Corruption: Estimate,"Current health expenditure per capita, PPP (current international $)","Death rate, crude (per 1,000 people)",Domestic general government health expenditure (% of GDP),...,Poverty gap at $6.85 a day (2017 PPP) (%),Pregnant women receiving prenatal care (%),Prevalence of overweight (% of adults),"Prevalence of overweight, weight for height (% of children under 5)",Prevalence of undernourishment (% of population),Rural population (% of total population),"Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population,Urban population (% of total population),Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes)
0,Argentina,1990,21.989,0.427859,NaN,NaN,NaN,NaN,7.743,NaN,...,NaN,NaN,48.7,NaN,NaN,13.016,NaN,28389540.0,86.984,7055.0
1,Argentina,1991,21.844,0.400371,NaN,NaN,NaN,NaN,7.536,NaN,...,4.5,NaN,49.3,NaN,NaN,12.672,5.440,28910601.0,87.328,18537.0
2,Argentina,1992,21.683,0.369563,NaN,NaN,NaN,NaN,7.595,NaN,...,5.0,NaN,49.9,NaN,NaN,12.458,6.360,29386348.0,87.542,21688.0
3,Argentina,1993,21.570,0.340845,NaN,NaN,NaN,NaN,7.631,NaN,...,5.5,95.0,50.5,NaN,NaN,12.248,10.100,29859584.0,87.752,21534.0
4,Argentina,1994,21.419,0.320044,NaN,NaN,NaN,NaN,7.403,NaN,...,5.7,NaN,51.1,11.1,NaN,12.040,11.760,30336257.0,87.960,25661.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,"Venezuela, RB",2018,17.832,NaN,NaN,17.0,-1.512038,638.613417,6.864,1.245631,...,NaN,NaN,NaN,NaN,22.7,11.792,5.020,26308612.0,88.208,NaN
755,"Venezuela, RB",2019,16.888,NaN,NaN,17.0,-1.527599,469.134286,7.017,0.811753,...,NaN,NaN,NaN,NaN,24.9,11.760,5.092,25564613.0,88.240,NaN
756,"Venezuela, RB",2020,16.213,NaN,NaN,17.0,-1.576018,590.119233,7.575,1.676635,...,NaN,NaN,NaN,NaN,22.9,11.721,7.530,25151087.0,88.279,NaN
757,"Venezuela, RB",2021,15.877,NaN,NaN,17.0,-1.622492,NaN,8.124,NaN,...,NaN,NaN,NaN,NaN,NaN,11.675,6.471,24907533.0,88.325,NaN
758,"Venezuela, RB",2022,NaN,NaN,NaN,NaN,-1.651137,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.622,5.328,25012473.0,88.378,NaN

In [25]:
# Supongamos que tienes tu DataFrame llamado df
# Y solo deseas mantener la columna "Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes)"
columna_deseada = 'Prevalence of raised blood glucose/diabetes in adults (%)'

# Eliminar filas con NaN o nulos en la columna deseada
df_glucosa = df_database_externa.dropna(subset=[columna_deseada])

columnas_a_eliminar = ['Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes)', 'Proportion of adults who are obese']

# Utiliza el método .drop() para eliminar las columnas
df_glucosa = df_glucosa.drop(columnas_a_eliminar, axis=1)
# El DataFrame ahora solo contiene filas sin NaN o nulos en la columna deseada
df_glucosa

,País,Año,Prevalence of raised blood glucose/diabetes in adults (%)
608,Antigua y Barbuda,1995,6.8
609,Argentina,1995,7.8
610,Bahamas,1995,9.5
611,Barbados,1995,8.1
612,Belice,1995,8.5
...,...,...,...
1303,Suriname,2014,12.3
1304,Trinidad y Tabago,2014,11.7
1305,Estados Unidos de América,2014,7.3
1306,Uruguay,2014,9.5
1307,Venezuela (República Bolivariana de),2014,9.5

In [26]:
df_merged_2 = df_merged.merge(df_glucosa, on=['País', 'Año'], how='left')
df_merged_2

,País,Año,"Birth rate, crude (per 1,000 people)",CO2 emissions (kg per PPP $ of GDP),Capital health expenditure (% of GDP),"Compulsory education, duration (years)",Control of Corruption: Estimate,"Current health expenditure per capita, PPP (current international $)","Death rate, crude (per 1,000 people)",Domestic general government health expenditure (% of GDP),...,Pregnant women receiving prenatal care (%),Prevalence of overweight (% of adults),"Prevalence of overweight, weight for height (% of children under 5)",Prevalence of undernourishment (% of population),Rural population (% of total population),"Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population,Urban population (% of total population),Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes),Prevalence of raised blood glucose/diabetes in adults (%)
0,Argentina,1990,21.989,0.427859,NaN,NaN,NaN,NaN,7.743,NaN,...,NaN,48.7,NaN,NaN,13.016,NaN,28389540.0,86.984,7055.0,NaN
1,Argentina,1991,21.844,0.400371,NaN,NaN,NaN,NaN,7.536,NaN,...,NaN,49.3,NaN,NaN,12.672,5.440,28910601.0,87.328,18537.0,NaN
2,Argentina,1992,21.683,0.369563,NaN,NaN,NaN,NaN,7.595,NaN,...,NaN,49.9,NaN,NaN,12.458,6.360,29386348.0,87.542,21688.0,NaN
3,Argentina,1993,21.570,0.340845,NaN,NaN,NaN,NaN,7.631,NaN,...,95.0,50.5,NaN,NaN,12.248,10.100,29859584.0,87.752,21534.0,NaN
4,Argentina,1994,21.419,0.320044,NaN,NaN,NaN,NaN,7.403,NaN,...,NaN,51.1,11.1,NaN,12.040,11.760,30336257.0,87.960,25661.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,"Venezuela, RB",2018,17.832,NaN,NaN,17.0,-1.512038,638.613417,6.864,1.245631,...,NaN,NaN,NaN,22.7,11.792,5.020,26308612.0,88.208,NaN,NaN
755,"Venezuela, RB",2019,16.888,NaN,NaN,17.0,-1.527599,469.134286,7.017,0.811753,...,NaN,NaN,NaN,24.9,11.760,5.092,25564613.0,88.240,NaN,NaN
756,"Venezuela, RB",2020,16.213,NaN,NaN,17.0,-1.576018,590.119233,7.575,1.676635,...,NaN,NaN,NaN,22.9,11.721,7.530,25151087.0,88.279,NaN,NaN
757,"Venezuela, RB",2021,15.877,NaN,NaN,17.0,-1.622492,NaN,8.124,NaN,...,NaN,NaN,NaN,NaN,11.675,6.471,24907533.0,88.325,NaN,NaN
758,"Venezuela, RB",2022,NaN,NaN,NaN,NaN,-1.651137,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11.622,5.328,25012473.0,88.378,NaN,NaN

In [27]:
# Supongamos que tienes tu DataFrame llamado df
# Y solo deseas mantener la columna "Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes)"
columna_deseada = 'Proportion of adults who are obese'

# Eliminar filas con NaN o nulos en la columna deseada
df_obesidad = df_database_externa.dropna(subset=[columna_deseada])

columnas_a_eliminar = ['Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes)', 'Prevalence of raised blood glucose/diabetes in adults (%)']

# Utiliza el método .drop() para eliminar las columnas
df_obesidad = df_obesidad.drop(columnas_a_eliminar, axis=1)
# El DataFrame ahora solo contiene filas sin NaN o nulos en la columna deseada
df_obesidad

           País   Año  Proportion of adults who are obese
1308  Argentina  1990                                16.6
1309  Argentina  1991                                17.0
1310  Argentina  1992                                17.4
1311  Argentina  1993                                17.8
1312  Argentina  1994                                18.2
...         ...   ...                                 ...
3085    Uruguay  2012                                23.1
3086    Uruguay  2013                                23.6
3087    Uruguay  2014                                24.2
3088    Uruguay  2015                                24.8
3089    Uruguay  2016                                25.3

[1782 rows x 3 columns]

In [30]:
import pandas as pd

# Supongamos que tienes tu DataFrame llamado df
# Elimina las filas duplicadas basadas en las columnas 'País' y 'Año'
df_obesidad_sin_duplicados = df_obesidad.drop_duplicates(subset=['País', 'Año'])

# El DataFrame df_sin_duplicados ahora contiene solo las filas únicas en función de 'País' y 'Año'
df_obesidad_sin_duplicados

           País   Año  Proportion of adults who are obese
1308  Argentina  1990                                16.6
1309  Argentina  1991                                17.0
1310  Argentina  1992                                17.4
1311  Argentina  1993                                17.8
1312  Argentina  1994                                18.2
...         ...   ...                                 ...
1897    Uruguay  2012                                26.8
1898    Uruguay  2013                                27.3
1899    Uruguay  2014                                27.8
1900    Uruguay  2015                                28.4
1901    Uruguay  2016                                28.9

[594 rows x 3 columns]

In [32]:
df_merged_3 = df_merged_2.merge(df_obesidad_sin_duplicados, on=['País', 'Año'], how='left')
df_merged_3

,País,Año,"Birth rate, crude (per 1,000 people)",CO2 emissions (kg per PPP $ of GDP),Capital health expenditure (% of GDP),"Compulsory education, duration (years)",Control of Corruption: Estimate,"Current health expenditure per capita, PPP (current international $)","Death rate, crude (per 1,000 people)",Domestic general government health expenditure (% of GDP),...,Prevalence of overweight (% of adults),"Prevalence of overweight, weight for height (% of children under 5)",Prevalence of undernourishment (% of population),Rural population (% of total population),"Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population,Urban population (% of total population),Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes),Prevalence of raised blood glucose/diabetes in adults (%),Proportion of adults who are obese
0,Argentina,1990,21.989,0.427859,NaN,NaN,NaN,NaN,7.743,NaN,...,48.7,NaN,NaN,13.016,NaN,28389540.0,86.984,7055.0,NaN,16.6
1,Argentina,1991,21.844,0.400371,NaN,NaN,NaN,NaN,7.536,NaN,...,49.3,NaN,NaN,12.672,5.440,28910601.0,87.328,18537.0,NaN,17.0
2,Argentina,1992,21.683,0.369563,NaN,NaN,NaN,NaN,7.595,NaN,...,49.9,NaN,NaN,12.458,6.360,29386348.0,87.542,21688.0,NaN,17.4
3,Argentina,1993,21.570,0.340845,NaN,NaN,NaN,NaN,7.631,NaN,...,50.5,NaN,NaN,12.248,10.100,29859584.0,87.752,21534.0,NaN,17.8
4,Argentina,1994,21.419,0.320044,NaN,NaN,NaN,NaN,7.403,NaN,...,51.1,11.1,NaN,12.040,11.760,30336257.0,87.960,25661.0,NaN,18.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,"Venezuela, RB",2018,17.832,NaN,NaN,17.0,-1.512038,638.613417,6.864,1.245631,...,NaN,NaN,22.7,11.792,5.020,26308612.0,88.208,NaN,NaN,NaN
755,"Venezuela, RB",2019,16.888,NaN,NaN,17.0,-1.527599,469.134286,7.017,0.811753,...,NaN,NaN,24.9,11.760,5.092,25564613.0,88.240,NaN,NaN,NaN
756,"Venezuela, RB",2020,16.213,NaN,NaN,17.0,-1.576018,590.119233,7.575,1.676635,...,NaN,NaN,22.9,11.721,7.530,25151087.0,88.279,NaN,NaN,NaN
757,"Venezuela, RB",2021,15.877,NaN,NaN,17.0,-1.622492,NaN,8.124,NaN,...,NaN,NaN,NaN,11.675,6.471,24907533.0,88.325,NaN,NaN,NaN
758,"Venezuela, RB",2022,NaN,NaN,NaN,NaN,-1.651137,NaN,NaN,NaN,...,NaN,NaN,NaN,11.622,5.328,25012473.0,88.378,NaN,NaN,NaN

In [33]:
df_database_final = df_merged_3.copy()

In [34]:
df_database_final

,País,Año,"Birth rate, crude (per 1,000 people)",CO2 emissions (kg per PPP $ of GDP),Capital health expenditure (% of GDP),"Compulsory education, duration (years)",Control of Corruption: Estimate,"Current health expenditure per capita, PPP (current international $)","Death rate, crude (per 1,000 people)",Domestic general government health expenditure (% of GDP),...,Prevalence of overweight (% of adults),"Prevalence of overweight, weight for height (% of children under 5)",Prevalence of undernourishment (% of population),Rural population (% of total population),"Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban population,Urban population (% of total population),Gasto público social según la clasificación por funciones del gobierno (en moneda nacional a precios corrientes),Prevalence of raised blood glucose/diabetes in adults (%),Proportion of adults who are obese
0,Argentina,1990,21.989,0.427859,NaN,NaN,NaN,NaN,7.743,NaN,...,48.7,NaN,NaN,13.016,NaN,28389540.0,86.984,7055.0,NaN,16.6
1,Argentina,1991,21.844,0.400371,NaN,NaN,NaN,NaN,7.536,NaN,...,49.3,NaN,NaN,12.672,5.440,28910601.0,87.328,18537.0,NaN,17.0
2,Argentina,1992,21.683,0.369563,NaN,NaN,NaN,NaN,7.595,NaN,...,49.9,NaN,NaN,12.458,6.360,29386348.0,87.542,21688.0,NaN,17.4
3,Argentina,1993,21.570,0.340845,NaN,NaN,NaN,NaN,7.631,NaN,...,50.5,NaN,NaN,12.248,10.100,29859584.0,87.752,21534.0,NaN,17.8
4,Argentina,1994,21.419,0.320044,NaN,NaN,NaN,NaN,7.403,NaN,...,51.1,11.1,NaN,12.040,11.760,30336257.0,87.960,25661.0,NaN,18.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,"Venezuela, RB",2018,17.832,NaN,NaN,17.0,-1.512038,638.613417,6.864,1.245631,...,NaN,NaN,22.7,11.792,5.020,26308612.0,88.208,NaN,NaN,NaN
755,"Venezuela, RB",2019,16.888,NaN,NaN,17.0,-1.527599,469.134286,7.017,0.811753,...,NaN,NaN,24.9,11.760,5.092,25564613.0,88.240,NaN,NaN,NaN
756,"Venezuela, RB",2020,16.213,NaN,NaN,17.0,-1.576018,590.119233,7.575,1.676635,...,NaN,NaN,22.9,11.721,7.530,25151087.0,88.279,NaN,NaN,NaN
757,"Venezuela, RB",2021,15.877,NaN,NaN,17.0,-1.622492,NaN,8.124,NaN,...,NaN,NaN,NaN,11.675,6.471,24907533.0,88.325,NaN,NaN,NaN
758,"Venezuela, RB",2022,NaN,NaN,NaN,NaN,-1.651137,NaN,NaN,NaN,...,NaN,NaN,NaN,11.622,5.328,25012473.0,88.378,NaN,NaN,NaN

In [35]:
df_database_final.to_csv('df_database_final.csv', index=False)